:root {
  --body-bg: rgba(238, 238, 238, 0.774);
  --color-accent: #cc9543;
  --skipped-color: black;
  --gray-color: rgba(214, 205, 205, 0.7);
  --button-primary: #6abfc3;
  --button-secondary: #cc9543;
  --text-primary: #4a4a4a;
  --disclaimer-message-bg: rgba(255, 255, 255, 0.89);
  --footer-bg: rgb(255, 255, 255);
  --white-black: black;
  --ref-color: rgba(74, 74, 74, 0.7);
  --level-buttons: rgb(255, 255, 255);
}

:root.dark {
  --skipped-color: rgb(179, 177, 177);
  --body-bg: rgba(32, 34, 32, 1);
  --button-primary: #cc9543;
  --button-secondary: #6abfc3;
  --text-primary: #ec761f;
  --disclaimer-message-bg: rgb(54, 52, 52);
  --footer-bg: black;
  --white-black: white;
  --ref-color: white;
  --level-buttons: #4b4747;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  transition: background ease-in 200ms, border-color ease-out 500ms;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--body-bg);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 13%;
  padding: 1%;
}

.disclaimerScreen {
  background-color: rgba(128, 128, 128, 0.849);
}

.disclaimerMessageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 50%;
  background-color: var(--disclaimer-message-bg);
  color: var(--white-black);
  border-radius: 10% 20% 10% 20%;
  padding: 5%;
  font-weight: bold;
  font-size: min(32px, 2vw);
  box-shadow: 0 0.05rem 0.25rem 0 rgb(0 0 0 / 50%);
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  padding: 1%;
}

.odinHeadIcon {
  height: 100%;
}

.dmb {
  margin-right: 20px;
}

.title {
  font-size: 32px;
}

.cell {
  overflow: hidden;
}

.main {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid {
  width: 80%;
  aspect-ratio: 4/3;
  display: grid;
  grid-template-columns: 4fr 2fr 2fr 2fr 2fr 2fr;
  grid-template-rows: 1fr 2fr 2fr 2fr 2fr 2fr;
  max-width: 650px;
}

.themeSvg {
  color: var(--white-black);
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.closeSvg {
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
}

button {
  height: 80%;
  width: 80%;
  font-size: clamp(0.625rem, 0.4375rem + 0.8333vw, 0.875rem);
  padding: 2%;
  background-color: var(--button-primary);
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  color: white;
  cursor: pointer;
  border-radius: 0.2rem;
  box-shadow: 0 0.05rem 0.25rem 0 rgb(0 0 0 / 50%);
  letter-spacing: 0.2px;
  border: none;
}

button:hover {
  opacity: 0.8;
  transition: all 300ms;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pointsLabel {
  color: var(--color-accent);
  font-size: clamp(0.625rem, 0.3906rem + 1.0417vw, 0.9375rem);
  font-weight: light;
  text-align: center;
  align-self: center;
}

.statBox {
  height: 40%;
  width: 20%;
  margin: 1%;
  font-size: 15px;
  color: var(--text-primary);
  display: flex;
  flex-direction: column;
}

.stat {
  margin: 2%;
}

.danger {
  background-color: hsla(360, 84%, 60%, 0.5);
}

.skipped {
  background-color: var(--skipped-color);
}

.cell {
  border-color: var(--color-gray);
}

.ref,
.statBox,
.title {
  color: var(--white-black);
}

.form,
.bannMessage,
.disclaimerScreen {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 2;
  overflow: hidden;
  transition: all ease-out 500ms;
  backdrop-filter: blur(5px);
}
.zapButton {
  padding: 0.2em 0.4em;
}

.form {
  background-color: rgba(149, 161, 189, 0.7);
}

.bannMessage {
  color: white;
  background-color: rgba(201, 138, 43, 0.8);
}

.form > button,
.bannMessage > button,
.disclaimerConfirmButton {
  height: 7%;
  width: 200px;
  margin: 1%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bannMessage > button {
  margin-top: 20px;
}

.hidden {
  height: 0px;
  transition: all 500ms;
}

.levels button {
  background-color: var(--level-buttons);
  color: var(--white-black);
  border: 5px solid;
  border-radius: 5% 20%;
}

.cell {
  display: flex;
  position: relative;
  overflow: hidden;
  align-items: center;
  border: solid var(--skipped-color) 1px;
}

.tier-tag {
  font-size: 15px;
  font-weight: bold;
  color: var(--white-black);
  margin-bottom: 8px;
}

.img-container {
  height: 100%;
  position: absolute;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.timeTravelButton,
.resetButton {
  margin-top: auto;
  height: 30%;
  background-color: var(--button-secondary);
  color: #fff;
  margin: 0.5em 0;
}

.ref {
  font-weight: bold;
  font-size: 15px;
}

.link {
  text-decoration: none;
  color: var(--color-accent);
  font-weight: bold;
}

.link:hover {
  color: #fd9800;
}

svg:hover {
  filter: invert(0.5) sepia(1) hue-rotate(200deg) saturate(4) brightness(1);
}

.notDisplayed {
  display: none;
}

@media only screen and (max-width: 680px) {
  body {
    gap: 0.5em;
  }
  .header {
    height: 10%;
  }
  .main {
    flex-direction: column;
    width: 95%;
    margin: 0 auto;
  }
  .statBox {
    width: 100%;
    align-items: center;
    justify-content: center;
    font-size: 15px;
  }
  .timeTravelButton,
  .resetButton {
    height: 20%;
 }

  

  .footer,
  .ref,
  .link {
    font-size: 2.3vw;
  }
  .title,
  .odinHeadIcon {
    transform: scale(0.5, 0.5);
  }
  .form > button,
  .bannMessage > button {
    width: 130px;
  }
}

@media only screen and (max-width: 480px) {
  .grid {
    width: 100%;
    height: 50%;
  }
  .pointsLabel {
    font-weight: bold;
  }
}
