* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 
}



body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: rgba(238, 238, 238, 0.774);
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 13%;
  padding: 1%;
}

.footer{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  padding: 1%;
}


.odinHeadIcon {
  height: 100%;
}

.dmb{
  margin-right: 20px;
}

.title{
  font-size: 32px;
}

.cell{
  overflow: hidden;
}

.main{
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid{
  height: 80%;
  aspect-ratio: 4/3;
  display: grid;
  grid-template-columns: 4fr 2fr 2fr 2fr 2fr 2fr;
  grid-template-rows: 1fr 2fr 2fr 2fr 2fr 2fr;
}

.sunSvg{
  stroke: white;
  height: 24px;
  width: 24px;
}


button {
  height: 80%;
  width: 80%;
  font-size: 10px;
  padding: 2%;
  background-color: #6abfc3;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  color: white;
  cursor: pointer;
  border-radius: 0.2rem;
  box-shadow: 0 0.05rem 0.25rem 0 rgb(0 0 0 / 50%);
  letter-spacing: 0.2px;
  border: none;
}

button:hover{
  opacity: 0.8;
  transition: all 300ms;
}

.buttonContainer{
  display: flex;
  justify-content: center;
  align-items: center;
}

.pointsLabel {
  color: #cc9543;
  font-size: 80%;
  font-weight: light;
  text-align: center;
}

.skipped {
  background-color: black;
}

.statBox{
  height: 40%;
  width: 17%;
  margin: 1%;
  font-size: 15px;
  color: #4a4a4a;
  display: flex;
  flex-direction: column;
}

.stat{
  margin: 2%;
}

.danger{
  background-color: hsla(360, 84%, 60%, 0.5);
}

.form, .bannMessage{
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 2;
  overflow: hidden;
  transition: all ease-out 500ms;
}

.form{
  background-color: rgba(149, 161, 189, 0.7)
}

.bannMessage{
  color: white;
  background-color: rgba(201, 138, 43, 0.8);
}

.form > button, .bannMessage > button {
  height: 7%;
  width: 200px;
  margin: 1%;
  display: flex;
  align-items: center;
  justify-content: center;
}


.hidden {
  height: 0px;
  transition: all 500ms;
}

.cell{
  display: flex;
  position: relative;
  overflow: hidden;
  border: solid black 1px;
}

.img-container{
  height: 100%;
  position: absolute;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.timeTravelButton {
  margin-top: auto;
  height: 30%;
  background-color:#cc9543;
  color: #fff;
}

.ref{
  color: rgba(74, 74, 74, 0.7);
  font-weight: bold;
  font-size: 15px;
}

.link{
  text-decoration: none;
  color: #cc9543;
  font-weight: bold;
}

.link:hover{
  color: #fd9800;
}

body.dark{
  background-color: rgba(32, 34, 32, 1);
}

.footer.dark{
  background-color: black;
}

.skipped.dark{
  background-color: rgba(214, 205, 205, 0.7);
}

.cell.dark{
  border-color: rgba(214, 205, 205, 0.7);
}

.ref.dark, .statBox.dark, .title.dark{
  color: white;
}

.timeTravelButton.dark{
  
  background-color: #6abfc3;
}

.zapButton.dark{
  background-color: #cc9543;
}

svg:hover{
  filter: 
    invert(0.5)
    sepia(1)
    hue-rotate(200deg)
    saturate(4)
    brightness(1);

}



.blue{
  background-color: blue;
}
.green{
  background-color: green;
}
.red{
  background-color: red;
}
.orange{
  background-color: orange;
}
.black{
  background-color: black;
}

.dark{
  transition: background ease-in 200ms, border-color ease-out 500ms;
}

.light{
  transition: background ease-in 200ms, border-color ease-out 500ms;
}

@media only screen and (max-width: 680px) {
  .main {
    flex-direction: column;
  }
  .statBox{
    width: 100%;
    align-items: center;
    font-size: 15px;
  }
  .timeTravelButton{
    transform: scale(0.5,0.7)
  }
  .footer, .ref, .link{
    font-size: 2vw;
  }
  .title, .odinHeadIcon{
    transform: scale(0.5, 0.5)
  }
  .form > button, .bannMessage > button{
    width: 130px;
  }
}

@media only screen and (max-width: 480px) {
  .grid{
    transform: scale(0.5, 0.5);
    margin-top: -80px;
  }
  .statBox{
    margin-top: -80px;
  }

  .pointsLabel{
    font-weight: bold;
  }
  
}
/*
body.darkMode {
background-color: #121212;
color: #b3b3b3;
}


.header {
  align-self: flex-start;
  position: fixed;
  top: 0;
  width: 10%;
  display: flex;
}



.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 3vw;
}

table {
  table-layout: fixed;
  border-spacing: 0;
  width: 90%;
  aspect-ratio: 1;
}

td {
  border: 1px solid black;
}

td.darkMode {
  border: 1px solid #3b3b3b;
}

.pointsLabel {
  
  font-size: 3vw;
  font-weight: light;
}

.pointsLabel.darkMode {
  color: #b3b3b3;
}

.zapLabel {
  font-size: 3vw;
  color: #4a4a4a;
}

.zapLabel.darkMode {
  color: #ec761f;
}



button {
  background-color: #6abfc3;
  padding: 3vw 8vw;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  color: white;
  cursor: pointer;
  border-radius: 0.2rem;
  box-shadow: 0 0.05rem 0.25rem 0 rgb(0 0 0 / 50%);
  font-size: 2.8vw;
  letter-spacing: 0.2px;
  border: none;
}

button.darkMode {
  background-color: #cc9543;
}

button:hover {
  background-color: #87cbce;
}

button:hover.darkMode {
  opacity: 0.8;
  color: #fff;
  text-decoration: none;
  background-color: #cc9543;
}

.zapPointsLabel {
  font-size: 4vw;
  font-weight: bold;
}

#currentPointsRank1 {

}

#currentPointsRank2 {
  color: #a6824a;
}

#currentPointsRank3 {
  color: #ec761f;
}

.timeTravelButton {
  margin: 10px 0;
  background-color: #eeeeee;
  color: rgba(0, 0, 0, 0.63);
}



.timeTravelButton:hover {
  background-color: #eeeeee;
  color: black;
}

.timeTravelButton:hover.darkMode {
  opacity: 0.8;
  text-decoration: none;
  background-color: #6abfc3;
}

.moderationMatrixLink {
  text-decoration: none;
  color: #cc9543;
  font-weight: 500;
  margin-top: 0.5rem;
}
.moderationMatrixLink:hover {
  color: black;
}
.buttonsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.skipped {
  background-color: black;
}

.skipped.darkMode {
  background-color: #3b3b3b;
}

.zapped {
  background-image: url(./zap.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 40%;
  transition: 0.2s;
}

.bannMessage {
  z-index: 2;
  padding-top: 100px;
  min-width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  background-color: #cc9543e3;
}

.bannTitle {
  font-size: 7vw;
  color: #4a4a4a;
  margin-bottom: 20px;
  font-weight: bold;
  padding: 50px;
}


#darkModeIcon {
  font-size: 2em;
  height: 2rem;
  width: 2rem;
  padding: 0;
  margin: 0;
  border: 0;
  background-color: #fff;
  align-self: center;
  box-shadow: none;
}

#darkModeIcon.darkMode {
  background-color: #121212;
}
@media (min-width: 600px) {
  body {
    justify-content: flex-start;
  }

  .content {
    gap: 10px;
  }

  table {
    width: 500px;
    height: 500px;
  }

  .pointsLabel {
    font-size: 1rem;
  }

  .zapLabel {
    font-size: 1.3rem;
  }

  .zapButtons {
    gap: 20px;
  }

  button {
    padding: 1rem 3rem;
    font-size: 1rem;
  }

  .bannTitle {
    font-size: 36px;
  }

  .zapPointsLabel {
    font-size: larger;
  }
}

@media (max-height: 620px) and (min-width: 600px) {
  .content {
    transform: scale(70%) translateY(-20%);
  }
}

@media (max-height: 430px) and (min-width: 600px) {
  .content {
    transform: scale(50%) translateY(-50%);
  }
}

@media (max-height: 375px) and (min-width: 600px) {
  .content {
    transform: scale(40%) translateY(-70%);
  }
}


@media (max-height: 280px) and (min-width: 600px) {
  .content {
    transform: scale(35%) translateY(-95%);
  }
}
*/